/* Asegúrate de que el html y el body ocupen toda la altura de la página */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor principal que debe ocupar al menos toda la altura de la página */
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenido principal debe crecer para llenar el espacio disponible */
main {
  flex-grow: 1;
  padding: 20px;
}

/* Footer: Ajustamos el estilo del pie de página */
footer {
  background-color: #f8f9fa;
  color: #6c757d;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;

   display: flex;
   justify-content: center; /* Alineación horizontal */
   align-items: center; /* Alineación vertical */
   height: 100px; /* Asegura una altura adecuada para el footer */
}
