<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Champion - Listado de Campeones')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <br>
    <h1 th:text="#{msg.champion.title}"></h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Muestra la lista de campeones en una tabla -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th th:text="#{msg.champion.code}"></th>
            <th th:text="#{msg.champion.name}"></th>
            <th th:text="#{msg.champion.rol}"></th>
            <th th:text="#{msg.champion.actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="champion : ${champions}">
            <td th:text="${champion.code}"></td>
            <td th:text="${champion.name}"></td>
            <td th:text="${champion.rol}"></td>
            <td>
                <!-- Botón para editar -->
                <a th:href="@{/champions/edit(id=${champion.id})}" class="btn btn-primary btn-sm" th:text="#{msg.champion.edit}"></a>
                <!-- Botón para eliminar -->
                <form th:action="@{/champions/delete}" method="post" class="d-inline">
                    <input type="hidden" name="id" th:value="${champion.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm"
                            th:onclick="|return confirm(msg.champion.id);|" th:text="#{msg.champion.delete}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Botón para añadir un nuevo campeón -->
    <a th:href="@{/champions/new}" class="btn btn-success mt-3" th:text="#{msg.champion.add}"></a>

    <!-- Volver a la página principal -->
    <a href="#" th:href="@{/}" class="btn btn-secondary mt-3" th:text="#{msg.champion.returnback}"></a>
</main>

<br>
<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>